@charset "utf-8";
/* CSS Document */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}
/* close commented backslash hack */

body {
  font-family: sans-serif;
}

#contenedor {
  width: 960px;
  background-color: #CFCFCF;
  margin: 0 auto;
}

#logo {
  margin: 20px;
  float: left;
}

#loginRegistro{
  float:right;
  clear:right;
  padding:0 24px 10px 0;
}

a:link, a:visited{
  color:#0E56AB;
  text-decoration:none;
}

#navPrincipal {
  float: right;
  margin-top: 35px;
  margin-right:20px;
}

#navPrincipal li {
  list-style-type: none;
  padding: 10px;
  border: 1px solid #6B6B6B;
  background-color: #0E56AB;
  margin: 5px;

  float: left;
  font-family: sans-serif;
}

#navPrincipal a:link {
  color: #D9D9D9;
  text-decoration: none;
}

#navPrincipal a:visited {
  color: #FBC155;
}

#cabezal {
  background-color: #FEFEFE;
}

#contenido {
  background-color: #DFDFDF;
  width: 590px;
  padding:20px;
  float: left;
}

#lateral {
  background-color: #BDBDBD;
  width: 290px;
  float: left;
  padding:20px;
}

#pie {
  background-color: #CFCFCF;
  clear: both;
  padding:20px;
}

.table > thead > tr > th {
	border-bottom: 1px solid #000;
}
